{{extend 'layout.html'}}

<h1>{{=selected_tag}}</h1>

<p>
{{for page in pages:}}
    {{if auth.is_logged_in() :}}
[{{=A('edit', _href=URL(r=request, c='plugin_wiki', f='edit_page', args=page.slug))}}]
    {{pass}}
    {{=A(page.title, _href=URL(r=request, c='plugin_wiki', f='page', args=page.slug))}}
<br />
{{pass}}
{{if pages:}}
{{page=pages[0]}}
<strong> {{=page.title}}</strong>
<br>{{=plugin_wiki.render(page.body)}}{{pass}}
{{pass}}

<br />
</p>
<br>
<p>
{{if not auth.is_logged_in() :}}
{{=A("Register/Login", _href=URL(r=request, f='user'))}} to edit pages.
{{pass}}
</p>
