{{extend 'layout.html'}}
<h1 class="page_title">{{=page.title.replace('_', ' ').capitalize()}}</h1>

{{if auth.has_membership(auth.id_group('developer')):}}
<span class="page_links">
{{=A(T('edit'), _href=URL(r=request, f='_edit_page', args=page.id))}}
{{=A(T('page history'), _href=URL(r=request, f='_page_history', args=slug(page)))}}
</span>
{{pass}}

{{=WIKI(page.body)}}

<div class="line"> &nbsp; </div>

<h2> Documents ({{=len(docs)}}) </h2>
<span class="toggle" onclick="$('#docs').slideToggle();">click to toggle</span>

<div id="docs">
{{if auth.has_membership(auth.id_group('developer')):}}
<ul>
{{for doc in docs:}}
 <li>{{=A(doc.name, _href=URL(r=request, f='_download', args=doc.file))}}
 [{{=A('edit', _href=URL(r=request, f='_edit_document', args=doc.id))}}]</li>
{{pass}}
</ul>
[{{=A('upload new document', _href=URL(r=request, f='_new_document', args=slug(page)))}}]
{{else:}}
<ul>
{{for doc in docs:}}
 <li>{{=A(doc.name, _href=URL(r=request, f='_download', args=doc.file))}}</li>
{{pass}}
</ul>
{{pass}}
</div>
<br/><br/>

<h2> Comments ({{=len(coms)}}) </h2>
<span class="toggle" onclick="$('#comms').slideToggle();">click to toggle</span>
<div id="comms">
<br />
{{for com  in coms:}}
<div class="comment">
  Comment by <strong>{{=usernames[com.created_by]}}</strong> on <strong>{{=com.created_on}}</strong>:
  {{=WIKI(com.body)}}
</div>
{{pass}}

<br />
{{=T('Post a comment:')}}
{{if auth.is_logged_in():}}
    {{=form_comment}}
{{else:}}
    <emph>{{=T('You need login to post a comment.')}}</emph>
{{pass}}
</div>

<script>
$(document).ready(function(){
  $('#docs').hide(); $('#comms').hide();
});
</script>
