<h3>Wordlist</h3>
{{=words}}
<table>
<tr><td width=200px>English</td><td>Language</td></tr>
{{for word in words:}}
<tr><td>
{{=word["English"]}}
</td><td>
{{=word["Language"]}}
</td>
</tr>
{{pass}}
</table>

<form method="get" action="{{=URL(r=request,c='learning', f='list', args=page_id)}}">
                    <fieldset>
                    <input type="radio" name="lang" value="English" checked />English
                    <input type="radio" name="lang" value={{=language}} />{{=language}}

                    <input size="50" type="text" id="word" name="word" value="" />
<input type="submit" value="Add" />
<a onclick=stopText('popuplist')   >Close</a></div>
 </fieldset>
                </form>

