{{extend 'layout.html'}}
<div style="position: absolute; width:80%; height:1px;" >
<div id="popupsearch" >
{{=LOAD('learning', 'parser.load', ajax=True)}}
</div>
<div id="popuplist" >
{{=LOAD('learning', 'list.load',args=page.id, ajax=True)}}
</div>
</div>
   <!-- Page Content -->
<div class="container">
            <div class="col-sm-2">
</div>
<div class="col-sm-8">

                <br><br>

<div id="page-title" class="well well-sm">
<h3>{{=title}}</h3>
</div>
<p>
{{if page.worksheet:}}
<a href="#" onclick=writeSearch();>Click to search phrase</a>
&emsp;
&emsp;
<a href="#" onclick=writeList();>Click to Show Wordlist</a>
{{pass}}

<hr>
<strong>{{=plugin_wiki.render(page.summary)}}</strong>
</p><p>
{{=plugin_wiki.render(page_body)}}
</p>
{{if page.attachments:}}
<strong> Attachments:</strong>
{{for attachment in page.attachments:}}
{<a href="{{=URL('plugin_wiki', 'attachment', args=attachment.id)}}">{{=attachment.name}}</a>
<br>
{{pass}}
{{pass}}
<p>
{{if form:}}
{{=form}}
</p><p>
{{pass}}
{{if plugin_wiki_editor:}}
<hr>
<div class="plugin_wiki_info">Last modified by {{=db.plugin_wiki_page.modified_by.represent(page.modified_by)}} {{=prettydate(page.modified_on)}} 

[<a href="{{=URL(r=request,f='page_history',args=page.slug)}}">history</a>]
[<a href="{{=URL(r=request,c='plugin_wiki', f='edit_page',args=page.slug)}}">edit</a>]</div>
{{pass}}
</div>
</div>
<script>
var ell=$('#popupsearch');
if (ell){
var ellpos_original=ell.offset().top;
}
var er=$('#popuplist');
if (er){
var erpos_original=er.offset().top;
}
$(window).scroll(function (){
    var elpos = ell.offset().top;
    var erpos = er.offset().top;
    var windowpos = $(window).scrollTop();
    var finaldestination = windowpos;
    if (ell){
        if(windowpos<ellpos_original) {
                finaldestination = ellpos_original;
                ell.stop().css({'top':10});
        } else {
                ell.stop().animate({'top':finaldestination-ellpos_original+10},500);
        }
    }
    if (er){
        if(windowpos<erpos_original) {
                finaldestination = erpos_original;
                er.stop().css({'top':10});
        } else {
                er.stop().animate({'top':finaldestination-erpos_original+10},500);
        }
    }
});
</script>

