{{extend 'layout.html'}}


<h3>Current Teaching Material</h3>
<p>
You will find some teaching materials in the boxes below and you can even create your own materials by going to Create New page further down the page. You will need to enter a title and then you will be taken to where you enter your material. </p>
<p>
You can either type directly or cut and paste from material you have created previously. Note that any words that are in the online dictionary for which there are linked sound files, will be linked to those sound files. 
<p>So, for example, if you write 'Yila budjikehn', you will be able to hear the word budjigehn (cat) because it is linked to a sound file. You can include pictures too if you have them, but note that you must have the copyright of the picture to do that.

</p>
<table class="formatTable">
<tr>
<th><strong>Title</th><th><strong></th>
</tr>
  {{for page in pages:}}
<tr>
    <td>{{=A(page.title,_href=URL(r=request,f='page',args=page.slug))}}
<br><i>{{=A(plugin_wiki.render(page.summary),_href=URL(r=request,c='learning', f='page',args=page.slug))}}</i></td>
{{if auth.is_logged_in() :}}

    <td>[{{=A('edit',_href=URL(r=request,c='plugin_wiki', f='edit_page',args=page.slug))}}]</td>
{{else:}}
    <td>Click on Link to view</td>
{{pass}}
  </tr>
{{pass}}  {{pass}}
</table>
{{if auth.is_logged_in() :}}
{{if not request.vars.query and form:}}
<h2>Create New page</h2>

{{=form}}
{{pass}}
{{pass}}
{{pass}}
