<!DOCTYPE html>
<html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<title>{{=response.title or request.application}}</title>
  <!--[if !HTML5]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->

  <meta charset="utf-8" />

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>
  <script src="{{=URL('static','js/DHTML.js')}}"></script>

  <!-- include stylesheets -->
  <!--bootstrap css minified-->
<link rel="stylesheet" href="http://tinymce.cachefly.net/4.1/skins/lightgray/skin.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <!-- Custom CSS -->
 {{
  response.files.insert(0,URL('static','css/custom.css'))
  }}

  {{include 'web2py_ajax.html'}}
<script src="{{=URL(c='static',f='/js/jquery.imageLens.js')}}" type="text/javascript"></script>
<script>
jQuery(function () {
  jQuery("#zoomLyr").imageLens({imageSrc: "{{=URL(c='static',f='/images/Dharug-big.png')}}", lensSize:300 });
});
</script>

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
<script src="{{=URL('static','plugin_wiki/tinymce/js/tinymce/tinymce.min.js')}}"></script>
<script>


tinymce.init({
  selector: "textarea",
  theme: "modern",
   external_plugins: {"nanospell": "nanospell/plugin.js"},
   nanospell_server: "java",
  plugins: [
    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
    "searchreplace wordcount visualblocks visualchars code fullscreen",
    "insertdatetime media nonbreaking save table contextmenu directionality",
    "emoticons template paste textcolor colorpicker textpattern "
  ],
  toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
  toolbar2: "print preview media | forecolor backcolor emoticons",
  image_advtab: true,
  templates: [
    {title: 'Test template 1', content: '<b>Test 1</b>'},
    {title: 'Test template 2', content: '<em>Test 2</em>'}
  ],
  autosave_ask_before_unload: false
});

</script>
<script src="{{=URL(c='static',f='js', args='video.js')}}"></script>
  {{block head}}{{end}}

<script>
$(document).ready(function() {
    $("#navbar li").on("click", function() {
        $("#navbar li").removeClass("active");
        $(this).addClass("active");
    });

$(document).ready(function() {
   $('#page_body').attr('cols',80).attr('rows',20);
   $('#comment_body').attr('cols',60).attr('rows',5);
   $('#page_tags').multiSelect({selectAll:false});
   $("#datepicker").datepicker();
});
});    
  </script>
</head>

<body onLoad="setupText(this);">
<!-- start header -->
 <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {{for _name,_active,_link in response.menuTop :}}
  {{ if _name=="Resources" :}}

    <li class ="dropdown">
        <a href="{{=_link}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{=_name}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {{for _name,_active,_link in response.menuResource:}}
            <li><a href="{{=_link}}">{{=_name}}</a></li>
          {{pass}}
        </ul>
        </li>

   {{ elif _name=="Uploads" :}}
  <li class ="dropdown">
        <a href="{{=_link}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{=_name}}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          {{for _name,_active,_link in response.menuUploads:}}
            <li><a href="{{=_link}}">{{=_name}}</a></li>
          {{pass}}
        </ul>
        </li>




  {{  else:}}
      <li><a href="{{=_link}}" >{{=_name}}</a></li>
   {{pass}}
{{pass}}
</ul>
<ul class="nav navbar-nav navbar-right">
             {{if auth.is_logged_in() :}}
<li class="dropdown" id="menuLogin">
<a class="" href="{{=URL(r=request, c='default', f='user', args='logout')}}" role="button" id="navLogin">Logout<span class="caret"></span></a></li>
{{else:}}
<li class="" id="menuLogin">
<a class="" href="{{=URL(r=request, c='default', f='user', args='login')}}" role="button" id="navLogin">Login<span class="caret"></span></a></li>
<li class="" id="menuLogin">
<a class="" href="{{=URL(r=request, c='default', f='user', args='register')}}" role="button" id="navLogin">Register<span class="caret"></span></a></li>

{{pass}}
      <!-- /.navbar-collapse -->
    </div>
<div id="popupForm"  ></div>
        <!-- /.container -->
  </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
  <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="float:left;">
            <img class="img-responsive" id="circle-img-first" src="/Dharug/static/images/title.jpg" >
          </div>
          <div class="col-sm-8" style="margin-left: 25%;margin-top:-150px;">
            <a href="{{=URL(r=request, c='plugin_wiki',f='')}}"> <h1 id="title" class="tagline">{{=response.title}}</h1></a>
          </div>
        </div>
      </div>
  </header>
  
    <!-- Page Content -->
<div class="container">
<div id="page">
{{if response.flash:}}
    <div class="flash">{{=response.flash}}</div>
{{pass}}
<div style="position: absolute; width:80%; height:1px;" >

<div id="popupword" style="width:50%;"  ></div>
</div>
    <div class="container">

        <div class="row">
{{if  request.controller=="plugin_wiki" and request.function!="resources" and request.function!="resource":}}
<div class="col-sm-4">
  <h4><strong>Information Pages</strong> </h4>
                <ul>
{{=LI(A("All Pages", _href=URL(r=request, c='plugin_wiki', f='pages_by_tag')))}}
{{for tag_item in db(db.plugin_wiki_tag.parent== "Index").select(orderby=~db.plugin_wiki_tag.id):}}
 {{=LI(A(tag_item.name, _href=URL(r=request, c='plugin_wiki', f='pages_by_tag', args=tag_item.id)))}}
{{if request.args:}}
{{ if str(tag_item.id)==request.args[0] or (tag and tag.is_active and tag.id==tag_item.id):}}
<ul style="list-style-type: circle; list-style-position: inside;;">
{{for tagchild in db(db.plugin_wiki_tag.parent== tag_item.name).select():}}
<li>
{{=(A(tagchild.name, _href=URL(r=request, c='plugin_wiki', f='pages_by_tag', args=tagchild.id)))}}
</li>

{{pass}}
</ul>
{{pass}}
{{pass}}
{{pass}}
{{=LI(A("Contact", _href=URL(r=request, c='plugin_wiki', f='contact')))}}
{{if auth.has_membership(auth.id_group('editor')):}}
 {{=LI(A('[manage menu items]', _href=URL(r=request, c='plugin_wiki',f='tags')))}}
{{=LI(A('[create new page]', _href=URL(r=request, c='plugin_wiki', f='create_page', args='New_Page')))}}
{{pass}}
<hr>
<div style="margin-left: -40px; padding-left:20px; background:white;">
<h4>A History of Aboriginal Illawarra Volume 1
Before Colonisation</h4>
<img width="200" src="/Dharug/static/images/History.jpg">
<p>Purchase this publication from <a href="mailto:les.bursill@gmail.com">Les Bursil</a>  $15 (or $5 for electronic version).
</p>
</div>
</div>
<div class="col-sm-8">
{{pass}}
{{include}}
</div>
</div>
</div>
</div>
</div>
    <hr>

<div is="footer"> 
 <div class="container">

        <div class="row">
      <div class="col-sm-12"> 
<a href="mailto:cat.kutay@cities.org.au">Site Email Contact</a>
</
<br><p> This project is an initiative of:
<br>
<img src="/Dharug/static/images/unswlogo.jpg" height="40px"></a> With support from: <a href="http://www.cities.org.au"> <img src="/Dharug/static/images/Cities.jpg" height="40px"></a> CITIES </p></a>
</div>

   </div>
</div>
</div>
<script>
var el=$('#popupword');
$(window).scroll(function (){
    var elpos = el.offset().top;
    var windowpos = $(window).scrollTop();
    var finaldestination = windowpos;
    if (el){                el.stop().animate({'top':finaldestination+100},500);
        
    }
});

</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{=URL('static','/js/bootstrap.min.js')}}"></script>
</body>
</html>
