{{extend 'layout.html'}}
        <div class="col-sm-8">
            <div id= "page-title"class="well">
                   <h2>{{=title}}</h2>
            </div>
            {{=plugin_wiki.render(page)}}
		<p>
            <a class="btn btn-default btn-lg" href="{{=URL(c='plugin_wiki',f='page',args='about_us')}}">More &raquo;</a>
            </p>
        </div>
        <div class="col-sm-4">
<img class="img-circle img-responsive img-center" src="{{=URL(r=request,c='static',f='/images/logo1.jpg')}}" alt="">
                </div>
        
    </div>
    <!-- /.row -->
    
    <hr>
    
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" width="110%" src="{{=URL(r=request,c='static',f='/images/Dharug.jpg')}}" alt="">
                <h2>Map of Dialects</h2>
                <p>This map shows the dialect regions for the Dharug language. You can selecct a dialect in your dictionary search, or search all dialects.
                </p>
</div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Naming Country</h2>
                <p>These are space we can put up images of language on country
                </p></div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Language Material</h2>
                <p>This is were we can rpomote teh sale of languge material - include palypal link?
                </p></div>

