{{extend 'layout.html'}}
{{include 'plugin_gmap/map.load'}}
{{if page:}}
{{=plugin_wiki.render(page.body)}}
{{pass}}
<p></p>
<div style="clear: both;">
{{if plugin_wiki_editor:}}
<div class="plugin_wiki_info">Last modified by {{=db.plugin_wiki_page.modified_by.represent(page.modified_by)}} {{=prettydate(page.modified_on)}} 
{{if plugin_wiki_editor:}}[<a href="{{=URL(r=request,f='page_history',args="index")}}">history</a>]
{{pass}}
[<a href="{{=URL(r=request,f='edit_page',args="index")}}">edit</a>]</div>
{{pass}}
</div>
<center>
  <div id="map" style="width: {{=width}}px; height: {{=height}}px"></div>
 <script>load(); </script>

</center>

