{{extend 'layout.html'}}
{{if (auth.user) and (auth.user.RIMO_Name=="IRCA"):}}
  <h2>{{=A("Download Nominations",_href=URL(r=request,c='appadmin', f='select',args=["db"],vars=dict(query='db.Nomination_Form.id>0')))}}</h2>

{{pass}}
<h1>Nomination Form</h1>
<h3>Use this form to enter your nomination
for the</h3> 
<br>
<h2>13th National Remote Media Festival,<br>
Umuwa, SA October 3 to 7, 2011</h2>
<br>
<h4>See the terms and conditions of the award <a href=http://www.irca.net.au/plugin_wiki/page/Conditions_of_Award>here</a></h4>
{{=form}}
<h2>For some awards you will be asked to fill in a content form and upload or mail the content</h2>
