{{extend 'layout.html'}}


<h2>Current Pages</h2>
<table class="formatTable">
<tr><td style="width:50%;"><strong>Title</td><td><i>Summary</i></td></strong></tr>

  {{for page in pages:}}
<tr>
{{if page.worksheet:}}
    <td>{{=A(page.title,_href=URL(r=request,c='learning',f='page',args=page.slug))}}</td>
   <td>{{=A(plugin_wiki.render(page.summary),_href=URL(r=request,c='learning',f='page',args=page.slug))}}</td>
{{else:}}
    <td>{{=A(page.title,_href=URL(r=request,f='page',args=page.slug))}}</td>
   <td>{{=A(plugin_wiki.render(page.summary),_href=URL(r=request,f='page',args=page.slug))}}</td>
{{pass}}
{{pass}}
{{if auth.is_logged_in() :}}

    <td>[{{=A('edit',_href=URL(r=request,f='edit_page',args=page.slug))}}]</td>
{{pass}}
  </tr>
  {{pass}}
</table>
{{if auth.is_logged_in() :}}
{{if not request.vars.query and form:}}
<h2>Create New page</h2>

{{=form}}
{{pass}}
{{pass}}
{{pass}}
