/*****************************************		SITE  IE6******************************************/#search {height:35px;}
#search .inputbox {height:26px;}#main_content {height:auto;}#fond_left, #fond_right {height:2000px !important;}
 
