 {{extend 'layout.html'}}
 <!-- Page Content -->
 {{if start==True:}}

    <div id="page-title" class="well well-sm">
        <h3>{{=top_message}}</h3>
    </div>
    

    <h3>How to use this dictionary?</h3>
    <p>
        {{=plugin_wiki.render(page)}}
    </p>
    <p>
        <a class="btn btn-default btn-lg" href={{=URL(c="plugin_wiki", f="page", args="usedictionary")}} >More &raquo;</a>
    </p>
    {{pass}}
    <hr>
<div id="search-jumbo" >

        <div class="row">
          <div class="col-sm-6"> 
            <h3>Search</h3>
            <form method="get" class="form-group" action="#">
                    <div class="input-group">

                      <input type="text" class="form-control" id="s" placeholder="Search for..." name="query"/> 
                      <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default" id="x"
                        onclick="{{=URL(r=request, c='language', f='wordlist' , args='search')}}"/>
                    </span>
                </div><!-- /input-group -->
        <div class="row">
                <div class="radio">
                 <label>    <input type="radio" name="type" value="Category" {{if sort=="Category":}} checked{{pass}}/> Category   </label>
                 <label> <input type="radio" name="type" value="English" {{if sort=="English":}} checked{{pass}}/> English </label>
                 <label>
                    <input type="radio" name="type" value="Dharug" {{if sort=="Dharug":}} checked{{pass}} /> Dharug  </label>
                </div>
                <div class="span4 collapse-group" >
                    <p  class="collapse" id="viewdetails">   
                       <input type="radio" name="numeric" value="Exact" {{if exact!="Related":}} checked{{pass}}/> Exact Search  </input>
                       <input type="radio" name="numeric" value="Related" {{if exact=="Related":}} checked{{pass}} />Search Related  
                       <br> <label>Select Dialect: </label> <select id="dialect" name="dialect">
                       {{for name in names:}}
                       <option value={{=name.name}} {{if dialect==name.name:}}selected{{pass}}>{{=name.name}}</option>
                       {{pass}}
                   </select>
               </p>

               <a class="btn showdetails" data-toggle="collapse" data-target="#viewdetails"></a>
       </div>
   </div>
</form>
</div><div class="col-sm-6">
<img style="float: right; margin: 0px 15px 15px 0px; height: 200px;" src="http://dharug.dalang.com.au/static/images/Darug.jpg" >
<div style="margin-top: 30px;">
</div>
<h4>
    <p><strong>The Search parameters used are:</strong>
    </p><p>
    Search word: {{=query}}
</p><p>
Search Type: {{=sort}}
</p><p>
{{if dialect:}} Dialect: {{=dialect}}
{{else:}}
All dialects{{pass}}
</p></div>
</div></div>
</h4>
<div id="popupword" ></div>
<div id="WordList" class="jumbotron">
    <div class="row">
        <div class="col-md-11 " >
            <h3>Word List
            </h3>
            <table class="table table-condensed text-left">
                <tr>
                    <td>{{=A(language,_href=URL(r=request, c='language', f='dictionary', args=language,vars={'query':request.vars['query'],'type':language,'dialect':request.vars['dialect']}))}}</td>
                    <td>{{=A('English',_href=URL(r=request, c='language', f='dictionary', args='English', vars={'query':request.vars['query'],'type':'English','dialect':request.vars['dialect']}))}}</td>
                    <td>{{=A('Category',_href=URL(r=request, c='language', f='dictionary', args='Category', vars={'numeric':'Exact','query':request.vars['query'],'type':'Category','dialect':request.vars['dialect']}))}}</td>
			<td>{{=A('Dialect',_href=URL(r=request, c='language', f='dictionary', args='Dialect' ,vars=request.vars))}}</td><td></td>
                    <td></td>
                </tr>
                {{for word in words:}}
                <tr style="color: {{=word.color}};" class="text-left">
                    <td>{{=T(word.Language_Word)}}</td>
                     <td>{{=T(word.Search_English)}}</td>
			  <td>{{=T(word.Category)}}</td>
			<td>{{=T(word.dialect)}}</td>
                    {{if word.Sound!=None:}}
                    <td >
                        <a href="#" target="_self"  onmouseover="writeWord();DHTMLSound('{{=T(word.Sound)}}','<b><i>{{=T(word.Language_Word)}}</i></b><br>{{=T(word.Search_English)}}');" >Listen</a></td>
                        {{else:}}
                        <td ></td>
                        {{pass}}
                        <td>[{{=A('more',_href=URL(r=request,c='language', f='view_word',args=word.id))}}]</td>
                    </tr>
                    {{pass}}
                    {{if auth.is_logged_in() :}}
                    [{{=A(T('Add new word'), _href=URL(r=request, f='edit_word '))}}]
                    {{pass}}
                </table>
            </div>

            <div class="col-md-1 ">
                <b>Select more</b>
                <br>
                {{for num in numerics:}}
                <br>{{if numeric==num:}}*{{pass}}{{=A(num, _href=URL(r=request, c='language', f='dictionary', vars={'type': sort, 'numeric':num, 'query':query, 'dialect':dialect}))}}
                {{pass}}
                <br>
            </div>
<button onclick ="$(document).scrollTop(0);">Go to top of page</button>
