{{extend 'layout.html'}}

<h3>Editing word: {{=(word.English)}}</h3>
<br>
<p></p>
<div style="clear: both;">
</div>
<br>
{{if word.ImageLink:}}
Image: <div><img height="200" src={{=word.ImageLink}}></div>
{{pass}}
<br>
{{=form}}

<br>
{{if request.extension=='html':}} 
<script>
jQuery(document).ready(function() {
{{if plugin_wiki_mode=='html':}}
  elRTE.prototype.options.panels.web2pyPanel = [
     'bold', 'italic', 'underline', 'forecolor', 'justifyleft', 'justifyright',
     'justifycenter', 'justifyfull', 'formatblock', 'insertorderedlist', 'insertunorderedlist',
     'link', 'image', 'flash'];
  elRTE.prototype.options.toolbars.web2pyToolbar = ['web2pyPanel', 'tables'];
  var opts = { toolbar  : 'web2pyToolbar' }
  jQuery('#plugin_wiki_page_body').elrte(opts);
{{else:}}
  jQuery('#plugin_wiki_page_body').css('width','700px').css('height','400px').markItUp(mySettings);
{{pass}}
});
</script>
{{pass}}

