<button onclick="window.history.back()">Back</Button>
<br>
<b>English:</b> {{=word.English}}
</p><p>
{{if word.Category:}}
<b>Category:</b> {{=word.Category}}
</p><p>
{{pass}}
{{if word.ImageLink:}}
<div><img src={{=word.ImageLink}}></div>
{{pass}}
<b>Dharug/Dharwal: </b>
{{if word.Sound:}}
<a href="/Bundjalung/plugin_wiki/page/{{=T(word.Category)}}" target="_blank" onMouseOver="DHTMLSound('{{=T(word.SoundFile)}}','<b><i>{{=T(word.Language_Word)}}</i></b></p><p>{{=T(word.English)}}');" >{{=word.Language_Word}}</a>
{{else:}}

{{=word.Language_Word}}
{{pass}}
</p><p>
<b>Comment:</b> {{=word.Comment}}
</p><p>
<font color={{=word.color}}><B>{{=word.dialect}}:</b> {{=word.Language_Word}}</font>

</p><p>
<div style="float: right;">
{{if auth.user:}}
{{=A('Edit', _href=link)}}
{{pass}}
</div>
