<button onclick="window.history.back()">Back</Button>
<br>
<b>English:</b> {{=word.English}}
</p><p>
{{if word.Category:}}
<b>Category:</b> {{=word.Category}}
</p><p>
{{pass}}
{{if word.ImageLink:}}
<div><img src={{=word.ImageLink}}></div>
{{pass}}
<b>Dharug: </b>
{{if word.Sound:}}
<a href="/plugin_wiki/page/{{=T(word.Category)}}" target="_blank" onMouseOver="DHTMLSound('{{=T(word.SoundFile)}}','<b><i>{{=T(word.Language_Word)}}</i></b></p><p>{{=T(word.English)}}');" >{{=word.Language_Word}}</a>
{{else:}}

{{=word.Language_Word}}
{{pass}}
</p><p>
<b>Comment:</b> {{=word.Comment}}
</p><p>
{{if word.Gold_Coast_Tweed:}}
<font color='green'><B>Gold Coast Tweed:</b> {{=word.Gold_Coast_Tweed}}</font>

{{pass}}
</p><p>
{{if word.Lower_Richmond:}}
<font color='blue'>i<b>Lower Richmond:</b> {{=word.Lower_Richmond}}</font>

{{pass}}
</p><p>
{{if word.Middle_Clarence:}}
<font color='black'><b>South West:</b> {{=word.Middle_Clarence}}</font>

{{pass}}
</p><p>
{{if word.Condamine_Upper_Clarence:}}
<font color='red'><b>Condamine Upper Clarence:</b> {{=word.Condamine_Upper_Clarence}}</font>

{{pass}}
</p><p>
{{if word.Copmanhurst:}}
<font color='orange'><b>Copmanhurst:</font></b> {{=word.Copmanhurst}}</font>


{{pass}}

</p><p>
<div style="float: right;">
{{if auth.user:}}
{{=A('Edit', _href=link)}}
{{pass}}
</div>
