{{extend 'layout.html'}}
<p></p>
<p>
<div style="clear: both;">
</div>
<div id="popupword" ></div>
</p>
<font color={{=T(word.color)}}>
<table id="word" style="border:1px solid {{=word.color}};">
<tr id="word"><td id="word"><b>English:</b> {{=word.English}}
</td></tr>
<tr id="word"><td id="word">
<b>{{=T(word.dialect)}}:</b>
{{if word.Sound:}}
<a href="" target="_blank" onMouseOver="DHTMLSound('{{=T(word.Sound)}}','<b><i>{{=T(word.Language_Word)}}</i></b><br>{{=T(word.Search_English)}}');" >{{=word.Language_Word}} [Hover over to listen]</a>

{{else:}}

{{=word.Language_Word}}
{{pass}}
<br>
</td></tr><tr><td id="word">
<b>Related Words: </b> {{for relate in related:}}
        {{=relate}} &nbsp;
{{pass}}

</td></tr>
<tr id="word"><td id="word">
{{if word.Category:}}
<b>Category:</b> {{=word.Category}}
{{pass}}
</td>
{{if word.ImageLink:}}
<td id="word"><div><img height="200" src={{=word.ImageLink}}></div>
</td>
{{pass}}
</tr>

<tr id="word"><td id="word">
<b>Comment:</b> {{=word.Comment}}
</td></tr>
<tr id="word"><td id="word">
<font color={{=T(word.color)}}><b>{{=T(word.dialect)}}</b> {{=word.Language_Word}}</font>

{{for example in exampleSentences:}}
</td></tr>
<tr id="word"><td id="word">
<b>Example:</b>
<p>{{=language}} :{{=example.Language}}
</p>
<p>English: {{=example.English}}
</p>
</td></tr>
{{pass}}
{{pass}}
</table>
</font>
</p><p>
<div style="float: left;">
{{if auth.user and link:}}
{{=A('Edit', _href=link)}}
{{pass}}
</div>
