{{extend 'layout.html'}}

<h2 align=center>Language Organisations</h2>
<p>
This is the start of a list of Aboriginal and Torrest Striat Islander Language Centres in Austraia<p></p>
<table>
<b><tr><td>Short Name</td><td>Full Name</td><td> Web URL</td><td>Created On </td><td></td></tr></b>
  <tr></tr>
{{for alc in alcs:}}
{{if (alc.Organisation=='ALC'):}}
  <tr><td>{{=T(alc.ALC_Name)}}</td>
    <td>{{=A(alc.ALC_Full_Name,_href=URL(r=request,f='alc',args=str(alc.id)))}}</td>
    <td>{{=A(alc.Web_URL,_href=alc.Web_URL)}}</td>
    <td>{{=alc.created_on}}</td>
{{if auth.is_logged_in() :}}
	<td>[{{=A('edit',_href=URL(r=request,c='plugin_gmap', f='edit_alc',args=alc.id))}}]</td>
{{pass}}
 </tr>
  {{pass}}
{{pass}}
<tr></tr>
<tr></tr>
<tr></tr>
<tr>
{{for alc in alcs:}}
<!--clumsy if exists one - do in controller -->
{{if (alc.Organisation!='ALC'):}}
<td></td>
<td><h2>Other Community Language Organisations</h2>
</td></tr>
{{pass}}{{pass}}
{{for alc in alcs:}}
{{if (alc.Organisation!='ALC'):}}
  <tr><td>{{=T(str(alc.ALC_Name))}}</td>

    <td>{{=A(alc.ALC_Full_Name,_href=URL(r=request,f='alc',args=str(alc.id)))}}</td>
    <td>{{=A(alc.Web_URL,_href=alc.Web_URL)}}</td>
    <td>{{=alc.created_on}}</td>
   {{if auth.is_logged_in() :}}
	<td>[{{=A('edit',_href=URL(r=request,c='plugin_gmap', f='edit_alc',args=alc.id))}}]</td>
{{pass}}
  </tr>
  {{pass}}
{{pass}}

</table>
{{if auth.is_logged_in() :}}
[{{=A(T('Create new ALC'), _href=URL(r=request, f='create_alc'))}}]
{{pass}}

