{{extend 'layout.html'}}

<h1>{{=(data.RIBS)}}</h1>
<img src="{{=URL(r=request,c='default',f='download/'+str(data.image))}}">
<p>
<table><tr><td>
{{=form}}
</td><td>
{{if (board):}}
<b>Board Members</b>
{{for boardMem in board:}}
<br>{{=str(boardMem.Name)}} from {{=str(boardMem.Community_Location)}}
{{pass}}
{{pass}}
<br>
{{if (staff):}}
<br>
<b>Staff</b>
{{for staffMem in staff:}}
<br>{{=str(staffMem.Title)}} - {{=str(staffMem.Name)}}
{{pass}}
{{pass}}
<br>

<span class="page_links">
<br>
<p>{{if auth.is_logged_in() and (((auth.user.RIMO_Name)==(data.RIMO_Name)) or ((auth.user.RIBS_Name)==(data.RIBS)) or ((auth.user.RIMO_Name)== irca)):}}
[{{=A(T('Edit RIB'), _href=URL(r=request, f='edit_rib', args=data.RIBS))}}]
</p>
{{if (data.base=="_Turner"):}}
<p>
[{{=A(T('View Recent RIB Data'), _href=URL(r=request, f='rib', args=data.RIBS))}}]
<br>
[{{=A(T('View RIB ACMA Data'), _href=URL(r=request, f='rib', args=[data.RIBS,"_ACMA"]))}}]
</p>
{{elif (data.base=="_ACMA"):}}
<p>
[{{=A(T('View Recent RIB Data'), _href=URL(r=request, f='rib', args=data.RIBS))}}]
<br>
[{{=A(T('View RIB Turner Data'), _href=URL(r=request, f='rib', args=[data.RIBS,"_Turner"]))}}]
</p>
{{else:}}
<p>
[{{=A(T('View RIB Turner Data'), _href=URL(r=request, f='rib', args=[data.RIBS,"_Turner"]))}}]
<br>
[{{=A(T('View RIB ACMA Data'), _href=URL(r=request, f='rib', args=[data.RIBS,"_ACMA"]))}}]
</p>
{{pass}}

<p>
[{{=A(T('Edit RIB Staff'), _href=URL(r=request, f='edit_rib_staff', args=data.id))}}]

</p><p>
[{{=A(T('Edit RIB Board'), _href=URL(r=request, f='edit_rib_board', args=data.id))}}]

</p>
{{else:}}
<br>
<p>
{{=A(T("Register/Login"), _href=URL(r=request, f='user'))}} to edit pages.
{{pass}}
</p>
</td>
</tr>
</table>
