{{extend 'layout.html'}}

<h1>RIBS for {{=rimo}} </h1>
<br>
<table>
<b><tr><td>RIBS Name</td><td> WEB_URL</td><td>  Created On</td><td></td></tr>      </b>
<tr></tr>
{{for rib in ribs:}}
{{rib.RIMO_Name=db.RIMOS(id=rib.RIMO).RIMO_Name}}
<tr>
    <td>{{=A(rib.RIBS,_href=URL(r=request,f='rib',args=rib.RIBS))}}</td>
    <td>{{=A(rib.Web_URL,_href=rib.Web_URL)}}</td>
    <td>{{=rib.created_on}}</td>
{{if auth.user:}}
{{if auth.is_logged_in() and (((auth.user.RIMO_Name)==(rib.RIMO_Name)) or ((auth.user.RIBS_Name)==(rib.RIBS)) or ((auth.user.RIMO_Name)== irca)):}}

    <td>[{{=A('edit',_href=URL(r=request,f='edit_rib',args=rib.RIBS))}}]</td>
{{pass}}
{{pass}}
  </tr>
  {{pass}}
</table>
<span class="page_links">
{{if auth.is_logged_in() and (((auth.user.RIMO_Name)==(rib.RIMO_Name)) or ((auth.user.RIBS_Name)==(rib.RIBS)) or ((auth.user.RIMO_Name)== irca)):}}
</p>
[{{=A(T('Create new RIB'), _href=URL(r=request, f='create_ribs', args=rimo))}}]
<p>
{{else:}}
{{=A(T("Register/Login"), _href=URL(r=request, f='user'))}}
to edit pages.
{{pass}}
</span>
</p>

